@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primaryBg: #111111;
  --color-green: #a6f55b;
  --color-gray: #7b7e7b;
  --color-text: #8b8b8b;
}
